/* .box
{
     background-color:#FFFFFF;
     border: 1px solid #000000;
}

.form
{
     background-color: #D8D8D8 ;
     border: 0px solid #000000;
} */

/*News design*/

.box {

}

.form {
     background-color: #656565;
     border: 0px solid #000000;
     height: 50px;
     width: 100%;
}

.form .right {
	float: right;
	height: 100%;
	width: 5px;
	margin-right: -5px;
	background: url(/MHfr78/images/comment/formright.png);
}

.form .left {
	float: left;
	height: 100%;
	width: 5px;
	margin-left: -5px;
	background: url(/MHfr78/images/comment/formleft.png);
}

.top {
	position: relative;
	width: 100%;
	height: 10px;
	margin-left: -5px;
	/*margin-top: -10px;*/
}

.top .right {
	position: absolute; /*relative*/
    margin-left: 10px;
	width: 100%;
	height: 10px;
	background: url(/MHfr78/images/comment/topright.png) top right no-repeat;
}

.top .left {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 10px;
	height: 10px;
	background: url(/MHfr78/images/comment/topleft.png) top left no-repeat;
}

.iframe {
	widht: 100%;
	position: relative;
	background: #FFFFFF;
}

.iframe .left {
	float: left;
	height: 100%;
	width: 5px;
	margin-left: -5px;
	background: url(/MHfr78/images/comment/contentleft.png) ;
}

.iframe .right {
	float: right;
	height: 100%;
	width: 5px;
	margin-right: -5px;
	background: url(/MHfr78/images/comment/contentright.png);
}

.bottom {
	position: relative;
	width: 100%;
	height: 10px;
	margin-left: -5px;
}

.bottom .right {
	position: absolute;
  margin-left: 10px;
	width: 100%;
	height: 10px;
	background: url(/MHfr78/images/comment/bottomright.png) bottom right no-repeat;
}

.bottom .left {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 10px;
	height: 10px;
	background: url(/MHfr78/images/comment/bottomleft.png) bottom left no-repeat;
}
